.board-input {
  display: flex;
  align-items: center;
  margin: 10px;
  height: 10%;
  justify-content: center;
}
.board-input button {
  background-color: transparent;
  border-style: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.board-input button svg {
  display: flex;
  transition: transform 0.1s ease-in-out;
}
.board-input button svg:hover {
  transform: scale(1.2);
}
.board-input input {
  padding-left: 10px;
  height: 40px;
}

.kanban-board {
  display: flex;
  min-height: calc(100dvh - 100px - 65px);
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: start;
  margin: 20px;
}
